<header>
   <div class="title">
      4-Lever Puzzle
   </div>
   <div class="instructions">
      Guess the correct sequence to click on the boxes so that they all turn green.
   </div>
</header>

<lever-game params="width: 800, height: 600"></lever-game>
