<header>
   <div class="title">
      Towers of Hanoi
   </div>
   <div class="instructions">
      <ul>
         <li>Only one disk can be moved at a time</li>
         <li>Take the upper disk from one of the rods and place it on top of another rod
            (click on the upper disk on a stack, then click on the rod where you'd like to move it)
         </li>
         <li>No disk can be placed on top of a smaller disk</li>
      </ul>
   </div>
</header>

<hanoi-game params="width: 800, height: 600"></hanoi-game>
