@import 'mixins/all';

content-reel {
   div {
      margin: 1em;

      height: 16em;

      overflow: auto;
      white-space: nowrap;

      & > img {
         border-radius: 0.5em;

         vertical-align: top;

         //max-width: 22em;
         max-height: 15em;
      }
   }
}