@import 'styles/mixins/all';

confirm-dialog {
   display: block;
   
   position: absolute;
   
   .controls {
      display: flex;
      
      justify-content: flex-end;
      
      margin-top: 1.5em;
      
      .confirm,
      .cancel {
         margin-left: 1em;
      }
      
      .confirm {
         @include button();
      }
      
      .cancel {
         @include button(white, $color1);
      }
   }
}