input-password-metered {
   display: block;
}

input-password-metered ul {
   padding: 0;

   list-style-type: none;
}

input-password-metered {
   --pw-font-size: 13px;
   --pw-radius: 0.25em;
}

input-password-metered .overlay {
   background: none;
}

input-password-metered .password-edit {
   display: inline-block;
   position: relative;
}

input-password-metered .password-edit .strength {
   position: relative;
   display: grid;

   top: -0.1rem;

   grid-template-areas: 'meter meter'
                        'score tips';
   gap: 0.25rem;

   font-size: 0.75rem;
}

input-password-metered .password-edit .strength meter {
   grid-area: meter;

   --meter-height: 0.75rem;

   width: 100%;
   height: var(--meter-height);
}

input-password-metered .password-edit .strength meter::-webkit-meter-bar,
input-password-metered .password-edit .strength meter::-webkit-meter-even-less-good-value,
input-password-metered .password-edit .strength meter::-webkit-meter-suboptimum-value,
input-password-metered .password-edit .strength meter::-webkit-meter-optimum-value {
   height: var(--meter-height);

   border-radius: 0 0 var(--pw-radius) var(--pw-radius);

   transition: all 0.25s;
}

input-password-metered .password-edit .strength meter::-webkit-meter-bar {
   box-shadow: 0 0.1em 0.1em -0em rgba(0, 0, 0, 0.4) inset;

   background: whitesmoke; /* Required to get rid of the default background property */
}

input-password-metered .password-edit .strength meter::-webkit-meter-even-less-good-value {
   background: linear-gradient(90deg, red 0%, orange 100%);
}

input-password-metered .password-edit .strength meter::-webkit-meter-suboptimum-value {
   background: linear-gradient(90deg, red 0%, yellow 100%);
}

input-password-metered .password-edit .strength meter::-webkit-meter-optimum-value {
   background: linear-gradient(180deg, green 0%, #006500 100%);
}

input-password-metered .password-edit .strength span {
   min-width: auto;

   padding: 0;

   grid-area: strength;
}

input-password-metered .password-edit .strength .score-label {
   grid-area: score;

   flex-direction: row;
   gap: 0.1em;

   opacity: 0.8;
}

input-password-metered .password-edit .strength .tips-wrapper {
   display: inline-block;

   grid-area: tips;

   position: relative;
   vertical-align: bottom;
}

input-password-metered .password-edit .strength .tips-wrapper > a:after {
   content: ' \25BE';
}

input-password-metered .password-edit .strength .tips {
   --arrow-size: 0.6em;

   position: absolute;

   box-shadow: 0.15em 0.15em 0.25em #888;
   margin: 0 auto;
   z-index: 100;

   padding: 1rem 1rem 1rem 2rem;

   top: calc(1.2rem + var(--arrow-size));
   left: calc(0rem - (var(--arrow-size) / 2));
   right: auto;

   overflow: visible;

   background: lightgrey;

   list-style-type: disc;
}

input-password-metered .password-edit .strength .tips li {
   white-space: nowrap;
}

input-password-metered .password-edit .strength .tips:after {
   content: "";
   position: absolute;
   top: calc(0rem - var(--arrow-size));
   left: var(--arrow-size);
   border-width: 0 var(--arrow-size) var(--arrow-size);
   border-style: solid;
   border-color: lightgrey transparent;
   display: block;
   width: 0;
}

input-password-metered .password-edit input-password {
   position: relative;

   margin-bottom: 0;
   z-index: 1;
}

input-password-metered .password-edit input-password input {
   border-radius: var(--pw-radius) 0 0 0 !important;
}

input-password-metered .password-edit input-password .show-pw {
   border-radius: 0 var(--pw-radius) 0 0 !important;
}
