@import 'styles/mixins/all';

html body loading-spinner {
   display: block;

   width: 100%;

   .message-container {
      @include float-panel();

      top: 30%;
   }

   .overlay {
      position: absolute;
   }
}