@import 'styles/mixins/all';

paginator {
   position: relative;
   
   display: block;
   
   padding: 1em;
   
   text-align: center;
   
   a {
      @include button();
   }
   
   .prev {
      vertical-align: middle;
      
      margin-right: 1em;
   }
   
   .numbers {
      display: inline-block;
      
      vertical-align: middle;
      
      .current {
         @include button();
      }
   }
   
   .next {
      vertical-align: middle;
      
      margin-left: 1em;
   }
   
   .meta-controls {
      position: absolute;
      left: 0;
      top: 40%;
      font-size: 0.75em;
   }
   
   .stats {
      position: absolute;
      right: 0;
      top: 40%;
      font-size: 0.75em;
   }
}