@-webkit-keyframes pop-up-down {
  0% {
    -webkit-transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.01);
  }
  100% {
    -webkit-transform: scale(1);
  }
}

// POPUP
$animation-popup-scale: 1.05;
@-webkit-keyframes pop-up {
  0% {
    -webkit-transform: scale(1);
  }
  100% {
    -webkit-transform: scale($animation-popup-scale);
  }
}

@-moz-keyframes pop-up {
  0% {
    -moz-transform: scale(1);
  }
  100% {
    -moz-transform: scale($animation-popup-scale);
  }
}

@keyframes pop-up {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale($animation-popup-scale);
  }
}

// FADE IN
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

// === MIXINS ===

@mixin fade-in() {
  -webkit-animation: 'fade-in' 200ms ease-in-out;
  -webkit-animation-fill-mode: forwards;
  animation-name: 'fade-in' 200ms ease-in-out;
  animation-fill-mode: forwards;
}

@mixin pop-up() {
  -webkit-animation: 'pop-up' 200ms ease-in-out;
  -webkit-animation-fill-mode: forwards;
  animation-name: 'pop-up' 200ms ease-in-out;
  animation-fill-mode: forwards;
}