// You can use services like http://paletton.com/ to choose a pleasing colour palette

$color1: #007c41;
$color2: #ffdb05;
$color3: #ffffff;
$color4: #e4dfdf;

$grad1: linear-gradient(lighten($color1, 10%), $color1);
$grad2: linear-gradient(lighten($color2, 10%), $color2);
$grad3: linear-gradient(lighten($color3, 10%), $color3);