/**
 * Takes The following optional parameters:
 * Background Colour
 * Grid Line Colour
 * Grid Size - The space between lines. Must be the same unit as Line Thickness
 * Line Thickness - The line thickness. Must be the same unit as Grid Size
 */
@mixin grid($color: rgb(255, 253, 248), $gridColor: rgba(35, 93, 255, 0.1), $gridSize: 2em, $lineThickness: 0.0625em) {
  $grid: transparent $gridSize - $lineThickness * 2, $gridColor $gridSize - $lineThickness, $gridColor $gridSize + $lineThickness, transparent $gridSize + $lineThickness * 2, transparent;

  background-color: $color;
  background-image: linear-gradient(90deg, $grid), linear-gradient(0deg, $grid);
  background-size: $gridSize $gridSize;
  background-repeat: repeat;
  background-attachment: initial;
}

@import url(http://fonts.googleapis.com/css?family=Architects+Daughter);

/**
 * Use when you want an element to appear unfinished.
 */
@mixin sketch() {
  @include grid();

  color: #333;
  text-shadow: none;

  font-family: 'Courier New', monospace;//'Architects Daughter', sans-serif;

  outline: 1px solid #cccccc;
  box-shadow: 1px 0.1em 0.1em #777;
  //  border: 1px dotted grey;
}

/**
 * Use when you have an element that should display differently when hovered.
 * Common use is on buttons or other clickable elements.
 */
@mixin sketch-hover() {
  @include sketch();

  background: rgb(230, 228, 223);

  &:hover {
    background: rgb(254, 255, 211);
  }
}