@import 'styles/layouts/common';

html body {
   & > header {
      box-shadow: 1px 0 1em rgba(0, 0, 0, 0.25);
   }
   
   main {
      margin: 0 auto;
      
      max-width: $main-column-width;
      
      padding-bottom: 10em;
      
      & > header {
         font-size: 2em;
         color: $color1;
      }
      
      // All generic top-level sections
      & > div > section,
      & > section {
         @include panel();
         background: none;
         
         max-width: 50em;
         margin-top: 3%;
         
         padding: 0.1em;
         
         & > header {
            margin-bottom: 0.5em;
            
            font-size: 2em;
            color: $color1;
         }
         
         section {
            header {
               margin-top: 1em;
               
               text-align: left;
               
               font-size: 1.1em;
               font-weight: bold;
            }
         }
      }
      
      p {
         margin: 0.5em 0em;
         
         font-size: 1em;
         font-family: "Questrial", Verdana, sans-serif;
         color: black;
      }
      
      a {
         color: $color1;
         
         text-decoration: none;
         
         &:hover {
            text-decoration: underline;
         }
      }
      
      blockquote {
         p {
            position: relative;
            
            font-style: italic;
            
            &:before {
               position: absolute;
               
               top: -0.4em;
               left: -0.6em;
               
               font-family: Georgia, "Times New Roman", serif;
               font-size: 4em;
               color: $color1;
               
               content: '\201C';
            }
         }
         
         cite {
            text-shadow: 0.1em 0.1em 0.25em rgba(0, 0, 0, 0.10);
            font-family: "georgia", "times", "times new roman", serif;
            color: lighten($color2, 50%);
            
            &:before {
               content: '\2014';
               
               margin-left: 2em;
               margin-right: 0.5em;
            }
         }
      }
      
      aside {
         display: inline-block;
         
         vertical-align: top;
         
         max-width: 20em;
         
         margin: 1em;
         
         box-shadow: 0em 0em 0.5em rgba(0, 0, 0, 0.31);
         border-radius: 0.25em;
         
         padding: 1em;
         
         header {
            font-style: italic;
            font-weight: bold;
            color: $color1;
         }
      }
      
      fieldset {
         border: 1px solid grey;
         border-radius: 0.25em;
      }
      
      paginator {
         a {
            @include button(white, $color1);
         }
      }
      
      .download {
         @include button();
         
         display: block;
         
         margin: 0.25em auto;
         
         max-width: 13em;
         
         &:before {
            display: inline-block;
            vertical-align: top;
            
            opacity: 0.5;
            
            height: 1em;
            border-bottom: 0.25em solid black;
            font-size: 0.75em;
            color: black;
            
            content: '\25BC';
         }
      }
      
   }
   
   footer {
      margin-bottom: 10em;
      
      text-align: center;
      
      div {
         margin-bottom: 0.5em;
         
         padding: 1em;
         
         background: $color3 no-repeat fixed;
         color: white;
      }
   }
}