@import 'layouts/common';

html body {
   padding-bottom: 10em;
   
   & > header {
      margin-bottom: 0;
      
      box-shadow: 1px 0 1em rgba(0, 0, 0, 0.8);
   }
   
   main {
      & > header {
         margin-bottom: 1em;
         padding: 2em;
         
         text-align: center;
         
         background: dimgrey;
         font-family: sans-serif;
         color: white;
         
         .title {
            font-size: 2em;
         }
         
         .instructions {
            font-size: 1.25em;
            max-width: 40em;
            margin: auto;
         }
         
         ul {
            text-align: left;
            
            li {
               margin: 0.5em 0;
               font-size: 0.75em;
            }
         }
      }
      
      // meta-container is required because phaserjs gets the outer size of its containing element, not inner size.
      .game-meta-container {
         margin: auto;
         
         max-width: 50em;
         
         border: 1em solid green;
         border-radius: 1em;
         
         .game-container {
            max-width: 800px;
         }
      }
      
      .return-prompt {
         text-align: center;
         
         a {
            @include button();
            
            &:before {
               margin-right: 0.25em;
               
               content: '\21B6 ';
            }
         }
      }
   }
   
}