body > header {
   position: relative;
   margin-bottom: 0;

   box-shadow: 1px 0 1em rgba(0, 0, 0, 0.8);
}

body > header nav {
   justify-content: flex-end;
   align-items: flex-end;
}

body > header current-session {

}

main > header {
   margin-bottom: 1em;
   padding: 2em;

   text-align: center;

   background: dimgrey;
   font-family: sans-serif;
   color: white;
}

main > header .title {
   font-size: 2em;
}

main > header .instructions {
   font-size: 1.25em;
   max-width: 40em;
   margin: auto;
}

main > header ul {
   text-align: left;
}

main > header ul li {
   margin: 0.5em 0;
   font-size: 0.75em;
}

/* meta-container is required because phaserjs gets the outer size of its containing element, not inner size. */
main .game-meta-container {
   margin: auto;

   max-width: 50em;

   border: 1em solid green;
   border-radius: 1em;
}

main .game-meta-container .game-container {
   max-width: 800px;
}

main .return-prompt {
   text-align: center;
}

main .return-prompt a:before {
   margin-right: 0.25em;

   content: '\21B6 ';
}
