<div id="game-index-page">
   <a class="game" href="/games/leverproblem">
      <div class="shot-container">
         <img src="<%= image_path('games/screenshots/levers_shot.png') %>" />
      </div>
      <span>Lever Puzzle</span>
   </a>
   <a class="game" href="/games/towers">
      <div class="shot-container">
         <img src="<%= image_path('games/screenshots/hanoi_shot.png') %>" />
      </div>
      <span>Tower Puzzle</span>
   </a>
</div>
