<!DOCTYPE html>
<html moznomarginboxes mozdisallowselectionprint>
<head>
   <title>Alert Lab Computational Thinking | University of Alberta</title>
   <meta name="viewport" content="width=device-width, user-scalable=yes">

   <script type="text/javascript" src="<%= javascript_path('main') %>"></script>

   <link rel="stylesheet" href="<%= stylesheet_path('manifest') %>">
</head>
<body>

<header>
   <div>
      <a class="logo" href="/admin/people">
         <img src="/logos/logo.png" alt="Alert Lab Logo" title="Home">
      </a>

      <span class="subtitle">Computational Thinking</span>
   </div>
   <role-limiter params="role: 'admin'">
      <nav class="main-nav">
         <ul>
            <li>
               <a href="/admin/people">People</a>
            </li>
            <li>
               <session></session>
            </li>
         </ul>
      </nav>
   </role-limiter>
</header>

<main>
   <status-messages params="notices: window.notices,
                            errors: window.errors,
                            dismissable: true"></status-messages>

   <%= yield %>
</main>

</body>
</html>
