@mixin notification() {
   display: block;

   $warning-color: #ff9001;

   & > div {
      margin: 0.5em;

      border: 1px solid $warning-color;
      border-radius: 0.1em;

      padding: 0.25em;

      background: fade-out($warning-color, 0.66);

      &:before {
         vertical-align: middle;

         padding: 0 0.25em;
         font-size: 2em;
         font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
         font-weight: bold;
         color: $warning-color;
         content: '!';
      }
   }

}