@mixin back-link() {
   display: inline-block;
   
   margin: 0.5em;
   
   padding-bottom: 1px; // padding added to
   
   &:hover {
      
      &:before {
         display: inline-block;
         
         margin-right: 0.5em;
         line-height: 1em;
         
         content: '\21A9'
      }
   }
}