@mixin back-link() {
   display: inline-block;

   margin: 0.5em;

   padding-bottom: 1px; // padding added to

   &:hover {
      padding-bottom: 0;

      &:before {
         display: inline-block;

         margin-right: 0.5em;

         content: '\21A9'
      }
   }
}