@import '../colours';

@mixin button($text_color: white, $button_color: $color2) {
   display: inline-block; // some elements are just inline, and therefore do not respect all the size rules.
   
   vertical-align: bottom;
   
   box-shadow: 1px 1px 2px darken($color2, 50%);
   
   border: none;
   border-radius: 0.25em;
   
   padding: 0.25em 0.5em;
   
   background: $button_color;
   color: $text_color;
   //  text-shadow: -1px -1px 1px darken($color1, 10%);
   
   cursor: pointer;
   
   &:hover {
      background: lighten($button_color, 3%)
   }
   
   &:active {
      background: darken($button_color, 5%);
      box-shadow: 1px 1px 1px lighten($color2, 50%);
   }
   
   &:disabled {
      color: lightgray;
   }
}