@mixin sortable-table-header() {
   position: relative;

   padding-left: 0.75em;

   $down-arrow: '\25BE';
   $up-arrow: '\25B4';

   &:before,
   &:after {
      position: absolute;

      left: 0;

      line-height: 165%;
      font-size: 0.5em;
   }

   &:before {
      bottom: 0;

      content: $down-arrow;
   }

   &:after {
      top: 0;

      content: $up-arrow;
   }

   &.sorted-asc,
   &.sorted-desc {
      &:before,
      &:after {
         line-height: 100%;
         font-size: 0.75em;
      }
   }

   &.sorted-asc {
      &:before {
         content: '';
      }

      &:after {
         top: 0.25em;
         bottom: 0.25em;

         content: $up-arrow;
      }
   }

   &.sorted-desc {
      &:before {
         top: 0.25em;
         bottom: 0.25em;

         content: $down-arrow;
      }

      &:after {
         content: '';
      }
   }
}