<basic-form params="header: headerText,
                                   formClass: formClass,
                                   onSave: save,
                                   onDelete: deleteGroup,
                                   deletable: !isNewRecord(),
                                   deleteConfirm: deleteConfirm,
                                   cancelHref: '/admin/groups' ">
   <div class="group">
      <div class="basic-info">
         <label>
            <span>Name</span>
            <input type="text" name="name" data-bind="value: group.name">
         </label>
         <label>
            <span>Start Date</span>
            <input type="date" name="start_date" data-bind="value: group.start_date" autocomplete="off">
         </label>
         <label>
            <span>End Date</span>
            <input type="date" name="end_date" data-bind="value: group.end_date" autocomplete="off">
         </label>
      </div>
      <div class="participation-type">
         <header>
            Participation Type
         </header>
         <div class="participation-type-selector">
            <label>
               <input type="radio" name="participation-type" data-bind="checked: group.participationType"
                      value="closed" />
               <span>Closed</span>
            </label>
            <label>
               <input type="radio" name="participation-type" data-bind="checked: group.participationType"
                      value="open" />
               <span>Open</span>
            </label>
            <label>
               <input type="radio" name="participation-type" data-bind="checked: group.participationType"
                      value="custom" />
               <span>Custom</span>
            </label>
         </div>
         <div class="open" data-bind="visible: group.participationType() === 'custom'">
            <p>
               Like Open, but you can be more restrictive on the allowed characters using Regular Expressions.
               <a href="https://rubular.com/" target="_blank">See here</a> for a list of regex codes.
            </p>
            <label>
               <span>Restricting Regex</span>
               <input type="text" name="regex" data-bind="value: group.regex" />
            </label>
         </div>
         <div class="open" data-bind="visible: group.participationType() === 'open'">
            <p>
               Open means any non-whitespace character will be accepted as user IDs.
            </p>
            <p>
               These users will be recorded and registered at the time of testing, not beforehand.
            </p>
         </div>
         <div class="closed" data-bind="visible: group.participationType() === 'closed'">
            <p>
               Closed participation requires that the participants are pre-registered by an admin.
            </p>
         </div>
         <div class="participants">
            <header>
               Participants (<span data-bind="text: group.participants().length"></span>)
            </header>
            <div class="controls">
               <button type="button" class="bulk-add" data-bind="click: bulk.isVisible.toggle">Bulk Create...</button>
               <button type="button" class="add" data-bind="click: addParticipant">+1</button>
            </div>
            <div class="list" data-bind="foreach: {data: group.participants, as: 'userShell'}">
               <div>
                  <div class="new-participant" data-bind="visible: !userShell.user(),
                                                                         if: !userShell.user()">
                     <input-search params="value: userShell.user,
                                                          searchText: userShell.userSearch,
                                                          searchResults: userShell.foundUsers">
                        <span data-bind="text: $data.first_name"></span>
                        <span data-bind="text: $data.last_name"></span>
                     </input-search>
                  </div>
                  <div class="participant" data-bind="visible: userShell.user(),
                                                                     if: userShell.user()">
                     <a href="#" data-bind="href: $parent.userLink(userShell.user())">
                        <span data-bind="text: userShell.user().first_name"></span>
                        <span data-bind="text: userShell.user().last_name"></span>
                     </a>
                     <!--<user-summary params="user: userShell.user"></user-summary>-->
                  </div>
                  <button class="delete" title="Remove Participant"
                          data-bind="click: function() { $parent.removeParticipant(userShell) }">x
                  </button>
               </div>
            </div>
            <span class="placeholder" data-bind="hidden: group.participants().length">- nobody -</span>
            <dialog-confirm class="bulk-participants"
                            params="title: 'Add Multiple Participants',
                                                   visible: bulk.isVisible,
                                                   actions: bulk.actions,
                                                   confirm: 'Add'">
               <div class="mode">
                  <label>
                     <input type="radio" name="mode" data-bind="checked: bulk.mode" value="generating" />
                     <span>Generate</span>
                  </label>
                  <label>
                     <input type="radio" name="mode" data-bind="checked: bulk.mode" value="list" />
                     <span>Enter List</span>
                  </label>
               </div>
               <div class="mode-generating" data-bind="visible: bulk.isGenerating">
                  <label>
                     <span>How Many?</span>
                     <input name="number" type="number" min="1" data-bind="value: bulk.number" />
                  </label>
                  <label>
                     <span>Prefix</span>
                     <input name="prefix" type="text" data-bind="textInput: bulk.prefix" />
                  </label>
                  <label class="example">
                     <span>eg.</span>
                     <span data-bind="text: bulk.exampleUserLast"></span>
                  </label>
               </div>
               <div class="mode-list" data-bind="visible: bulk.isList">
                  <textarea name="list" class="width" data-bind="value: bulk.list"></textarea>
                  <p class="example">
                     Enter a list of IDs, each on their own line. eg:
                  </p>
                  <p class="example">
                     janeway<br>
                     picard<br>
                     sisko
                  </p>
               </div>
            </dialog-confirm>
         </div>
      </div>
   </div>
</basic-form>
