<h2 data-bind="text: titleText"></h2>
<form data-bind="visible: isAdmin, submit: signIn">
   <label>
      <span>Email</span>
      <input type="email" name="email" placeholder="eg. jdoe@example.com" autocomplete="email" required
             data-bind="value: email" />
   </label>
   <label>
      <span>Password</span>
      <input-password params="value: password"></input-password>
   </label>
   <button type="submit">
      <span data-bind="text: buttonText"></span>
   </button>
</form>
<form data-bind="hidden: isAdmin, submit: signIn">
   <label>
      <span>Group</span>
      <input type="text" name="group" data-bind="value: group" required autocomplete="off" />
   </label>
   <label>
      <span>Username</span>
      <input type="text" name="username" data-bind="value: username" required autocomplete="off" />
   </label>
   <button type="submit">
      <span data-bind="text: buttonText"></span>
   </button>
</form>
