<basic-form params="header: headerText,
                                   formClass: formClass,
                                   onSave: save,
                                   onDelete: deleteUser,
                                   deletable: !isNewRecord(),
                                   deleteConfirm: deleteConfirm,
                                   cancelHref: '/admin/people' ">
   <div class="personal">
      <fieldset class="contact-info">
         <label>
            <span>First Name</span>
            <input type="text" name="first_name" data-bind="value: user.first_name">
         </label>
         <label>
            <span>Last Name</span>
            <input type="text" name="last_name" data-bind="value: user.last_name">
         </label>
         <legend>Contact Information</legend>
         <label>
            <span>Email</span>
            <input type="email" name="email" data-bind="value: user.email">
         </label>
      </fieldset>
      <fieldset class="participation">
         <legend>Participation</legend>
         <div>
            <div class="groups">
               <header>Groups</header>
               <span class="placeholder" data-bind="hidden: user.groups().length">- none -</span>
               <div data-bind="foreach: user.groups">
                  <a data-bind="href: $parent.groupLink(id), text: name"></a>
               </div>
            </div>
            <div class="completed">
               <header>Completed Puzzles</header>
               <div data-bind="foreach: allPuzzles">
                  <label class="puzzle" data-bind="css: $data">
                     <input type="checkbox" disabled
                            data-bind="value: $data, checked: $parent.user.puzzles_completed" />
                     <span data-bind="text: titlecase($data)"></span>
                  </label>
               </div>
               <button type="button" class="reset-clicks" data-bind="click: reset.visible.toggle">Reset Clicks</button>
               <dialog-confirm class="reset-clicks-confirm" params="visible: reset.visible,
                                                                                   title: 'Reset Click Data',
                                                                                   actions: reset.actions">
                  <p>
                     Are you sure you wish to delete <strong>all clicks</strong> for
                     <span data-bind="text: user.first_name"></span> <span data-bind="text: user.last_name"></span>?
                  </p>
                  <p>
                     <strong>This action cannot be undone.</strong>
                  </p>
               </dialog-confirm>
            </div>
         </div>
      </fieldset>
   </div>
   <h3>Security</h3>
   <div class="security">
      <input-password-metered params="value: user.password"></input-password-metered>
      <input-checklist params="name: 'Roles', options: allRoles, checked: user.roles"></input-checklist>
   </div>
</basic-form>
