<div class="controls">
   <div class="filter">
      <header>Filter</header>
      <div class="simple-fields">
         <label>
            <span>Name</span>
            <input type="search" name="name" data-bind="textInput: search.name" />
         </label>
         <label>
            <span>Email</span>
            <input type="search" name="email" data-bind="textInput: search.email" />
         </label>
         <label>
            <span>Group</span>
            <select name="group" data-bind="optionsCaption: '- Any -',
                                                           options: groupNames,
                                                           value: search.group"></select>
         </label>
      </div>
      <input-checklist params="name: 'role',
                                              options: allRoles,
                                              checked: search.roles,
                                              allLabel: 'Any'"></input-checklist>
   </div>
   <button class="add-user-button"
           data-bind="hidden: createEditorVisible, click: createEditorVisible.toggle">
      <div class="icon">
         <img src="" alt="" data-bind="attr: {src: window.appData.imagePaths.person}" />
         <span class="plus">+</span>
      </div>
      Add Person
   </button>
   <hr>
   <form method="post" action="/admin/export-data?type=users">
      <button type="submit" class="download">
         Download User Data
      </button>
   </form>
</div>
<div class="user-summaries">
   <div class="add-user-controls" data-bind="visible: createEditorVisible">
      <user-editor params="onSave: personCreated,
                                          onAbort: createEditorVisible.toggle"></user-editor>
   </div>
   <label class="sort">
      <span>Sort</span>
      <select data-bind="value: sortBy, options: sortOptions, optionsText: 'name', optionsValue: 'value'"></select>
   </label>
   <div data-bind="foreach: {data: users, as: 'user'}">
      <user-summary params="user: user"></user-summary>
   </div>
   <div data-bind="hidden: createEditorVisible">
      <p data-bind="visible: users() && !users().length">
         There are no people yet.
      </p>
      <dialog-busy params="target: searchResults.isLoading"></dialog-busy>
   </div>
   <pane-paged params="page: page.number,
                                      size: page.size,
                                      sizeOptions: [10],
                                      maxResults: page.maxResults,
                                      scrollTo: 'user-listing'"></pane-paged>
</div>
