<!DOCTYPE html>
<html moznomarginboxes mozdisallowselectionprint>
<head>
   <title>Alert Lab Computational Thinking | University of Alberta</title>
   <meta name="viewport" content="width=device-width, user-scalable=yes">

   <!-- TODO: eliminate unnecessary jquery -->
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

   <script type="text/javascript" src="<%= javascript_path('main') %>"></script>

   <link rel="stylesheet" href="<%= stylesheet_path('admin_manifest') %>">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.4.0/css/pikaday.min.css">
   <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.4.0/pikaday.min.js"></script>
</head>
<body>

<header class="page-header">
   <a href="/admin/people" class="banner">
      <div class="logo">
         <img src="/assets/images/logos/UA-COLOUR-440px.png" alt="U of A Logo" title="Admin Home">
         <span>Alert Lab</span>
      </div>

      <span class="subtitle">Computational Thinking Experiments</span>
   </a>

   <nav class="main-nav">
      <navigation-menu params="options: {
                                 People: {url: '/admin/people', icon: '/assets/images/person.svg'},
                                 Groups: {url: '/admin/groups', icon: '/assets/images/people.svg'},
                                 'session': {tag: '<session></session>'}
                               }">
      </navigation-menu>
   </nav>
</header>

<main>
   <status-messages params="notices: window.notices,
                            errors: window.errors,
                            dismissable: true"></status-messages>

   <%= yield %>

   <div class="game-container"></div>
</main>

</body>
</html>
