<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
{% if current_user.puzzle_lever and current_user.puzzle_towers %}
  <meta http-equiv="refresh" content="3;url=/logout" />
{% endif %}
</head>
<body>

<div id='user'>
  user: {{current_user.name}}
</div>

{% if current_user.puzzle_lever and current_user.puzzle_towers %}
  All puzzles complete.<br/>
  Logging out in 3 seconds...
{% else %}
  <h2>Puzzles</h2>
{% endif %}

{% if not current_user.puzzle_lever %}
  <a href="/leverproblem">4 Lever Puzzle</a><br>
{% endif %}
{% if not current_user.puzzle_towers %}
  <a href="/towers">Towers of Hanoi</a>
{% endif %}


</body>
</html>
