{% extends "layout.html" %}
{% block body %}
  <div class="login-page">
    <div class="form">
      <form method=post>
        <dl>
	  <dt class="group-label" style="display: none"></dt>
          <dt><input type=text name=group placeholder="Group" required value="">
          <dt><input type=text name=username placeholder="Username" required>
        </dl>
	<script>
		// super hacky implementation to be replaced with the rewrite
		var groupName, regexResult, paramReg, groupInput, groupLabel; 

		paramReg = /(?:g|group)=([^&]+)/;
		regexResult = paramReg.exec(window.location.search);
		groupName = regexResult ? decodeURIComponent(regexResult[1]) : '';

		console.log('Group:', groupName)

		if(groupName){
                	groupInput = document.querySelector('input[name="group"]');
                	groupLabel = document.querySelector('.group-label');
			
			groupInput.value = groupName;
			groupInput.style = "visibility: hidden; position: absolute;";
			groupLabel.style = "display: block; font-size: 1.25em; text-align: center; background: darkgrey; color: white; padding: 1em; margin-bottom: 1em;";
			groupLabel.textContent = "Group: " + groupName;
		}
	</script>
        <input type=submit value=Login class="button buttonBlue">
          {% if error %}
            <p class=error><strong>Error:</strong> {{ error }}</p>
          {% endif %}
      </form>
    {% endblock %}
    </div>
</div>
