@import 'mixins/all';

html body group-listing {
   display: block;
   
   position: relative;
   
   expander {
      display: block;
      
      & > a {
         display: inline-block;
         
         margin: 0.5em 0;
      }
   }
   
   .filter {
      margin-bottom: 1em;
      
      padding: 1em;
      
      background: lighten($color4, 7%);
      
      label {
         display: block;
      }
      
      .simple-fields {
         display: inline-block;
         
         margin-right: 2em;
         vertical-align: top;
         
         label {
            padding: 0.1em 0;
            
            span {
               min-width: 3.5em;
            }
            
            input {
               padding: 0.5em;
            }
         }
      }
      
      .roles {
         display: inline-block;
         
         label {
            margin-bottom: 0.1em;
            
            cursor: pointer;
         }
      }
   }
   
   & > label {
      span {
         min-width: auto;
      }
      
      select {
         vertical-align: middle;
         
         padding: 0.25em;
         
         background: none;
      }
   }
   
   .group-summaries {
      min-height: 20em;
   }
   
   group-summary {
      display: block;
      
      box-shadow: 0.2em 0.2em 0.25em rgba(128, 128, 128, 0.5);
   }
   
   .add-group-button {
      @include button();
      
      display: block;
      
      margin: 0.5em auto;
      
      max-width: 10em;
      
      .icon {
         position: relative;
         
         display: inline-block;
         
         img {
            display: inline-block;
            vertical-align: text-bottom;
            
            max-width: 1.5em;
            
            opacity: 0.5;
         }
         
         .plus {
            position: absolute;
            
            left: 1em;
            top: 1em;
            
            font-weight: bold;
            
            color: $color1;
            
            width: 1.1em;
            height: 1.1em;
            
            border: 2px solid green;
            border-radius: 2em;
            
            background: white;
            
            line-height: 0.9em;
            
            font-size: 11px;
         }
      }
   }
   
   .add-group-controls {
      margin-bottom: 1.5em;
      
      & > header {
         margin-bottom: 0.5em;
         
         text-align: center;
         
         font-size: 1.25em;
      }
   }
}