@import 'styles/mixins/all';

html body input-password-metered {
   display: block;
   
   ul {
      padding: 0;
      
      list-style-type: none;
   }
   
   $pw-font-size: 13px;
   $pw-radius: 0.25em;
   
   .overlay {
      background: none;
   }
   
   .password-edit {
      display: inline-block;
      position: relative;
      
      .strength {
         position: relative;
         top: -0.1em;
         
         font-size: 0.75em;
         
         meter {
            $height: 0.75em;
            
            vertical-align: top;
            
            width: 100%;
            height: $height;
            
            &::-moz-meter-bar,
            &:-moz-meter-optimum::-moz-meter-bar,
            &:-moz-meter-sub-optimum::-moz-meter-bar,
            &:-moz-meter-sub-sub-optimum::-moz-meter-bar,
            &::-webkit-meter-bar,
            &::-webkit-meter-even-less-good-value,
            &::-webkit-meter-suboptimum-value,
            &::-webkit-meter-optimum-value {
               height: $height;
               
               border-radius: 0 0 $pw-radius $pw-radius;
               
               transition: all 0.25s;
            }
            
            &,
            &::-webkit-meter-bar {
               box-shadow: 0 0.1em 0.1em -0em rgba(0, 0, 0, 0.4) inset;
               
               background: whitesmoke; /* Required to get rid of the default background property */
            }
            
            &:-moz-meter-sub-sub-optimum::-moz-meter-bar,
            &::-webkit-meter-even-less-good-value {
               background: linear-gradient(90deg, red 0%, orange 100%);
            }
            
            &:-moz-meter-sub-optimum::-moz-meter-bar,
            &::-webkit-meter-suboptimum-value {
               background: linear-gradient(90deg, red 0%, yellow 100%);
            }
            
            &:-moz-meter-optimum::-moz-meter-bar,
            &::-webkit-meter-optimum-value {
               background: linear-gradient(180deg, green 0%, #006500 100%);
            }
         }
         
         span {
            min-width: auto;
            
            padding: 0;
         }
         
         .score-label {
            min-width: 5em;
            
            padding: 0;
            
            opacity: 0.8;
         }
         
         .tips-wrapper {
            display: inline-block;
            
            position: relative;
            vertical-align: bottom;
            
            & > a {
               &:after {
                  content: ' \25BE';
               }
            }
         }
         
         .tips {
            $bg: lightgrey;
            $arrow-size: 0.6em;
            
            @include float-panel();
            
            top: 1.2em + $arrow-size;
            left: -($arrow-size/2);
            right: auto;
            
            padding-left: 2em;
            
            overflow: visible;
            
            background: lightgrey;
            
            list-style-type: disc;
            
            li {
               white-space: nowrap;
            }
            
            &:after {
               content: "";
               position: absolute;
               top: -$arrow-size;
               left: $arrow-size;
               border-width: 0 $arrow-size $arrow-size;
               border-style: solid;
               border-color: $bg transparent;
               display: block;
               width: 0;
            }
         }
      }
      
      input-password {
         position: relative;
         z-index: 1;
         
         input {
            border-radius: $pw-radius 0 0 0 !important;
         }
         
         .show-pw {
            border-radius: 0 $pw-radius 0 0 !important;
         }
      }
   }
}
