@import 'styles/mixins/all';

html body password-editor {
   display: block;
   
   & > header {
      margin: 1em 0;
      
      border-bottom: 1px solid $color1;
      
      padding: 0.25em 0.25em;
      
      //background: $color1;
      color: $color1;
      
      font-size: 1.25em;
   }
   
   ul {
      padding: 0;
      
      list-style-type: none;
   }
   
   $pw-font-size: 13px;
   $pw-radius: 0.25em;
   
   input[type="text"],
   input[type="password"] {
      position: relative;
      z-index: 1;
      
      font-size: $pw-font-size;
      border-radius: $pw-radius;
      
      font-family: monospace;
   }
   
   label {
      position: relative;
      display: inline-block;
   }
   
   .space-highlight {
      position: absolute;
      left: 0;
      bottom: 1.1em;
      z-index: 2;
      
      opacity: 0.25;
      
      min-width: 0;
      
      margin: 0;
      padding: 0;
      
      background: grey;
      font-family: monospace;
   }
   
   .show-pw {
      @include button(white, $color1);
      
      $offset: 0.3em;
      
      position: relative;
      display: inline-block;
      
      left: -$offset;
      vertical-align: middle;
      
      box-shadow: none;
      
      border: 1px solid grey;
      border-radius: $pw-radius;
      
      padding: 0.5em 0.5em 0.5em $offset + 0.5em;
      
      font-size: $pw-font-size;
      
      span {
         margin: 0;
         padding: 0;
         
         min-width: 0;
      }
      
      .icon {
         vertical-align: middle;
         
         img {
            vertical-align: top;
         }
      }
      
      .see {
         opacity: 1;
      }
      
      .hide {
         position: relative;
         
         img {
            opacity: 0.5;
         }
         
         &:after {
            content: '/';
            
            position: absolute;
            display: block;
            
            opacity: 1;
            
            top: -0.25em;
            
            width: 0.8em;
            
            font-weight: bold;
            font-size: 2em;
            font-style: italic;
            color: black;
         }
      }
      
      span {
         vertical-align: middle;
         
         font-size: 0.75em;
         text-transform: lowercase;
      }
   }
}