@import 'styles/mixins/all';

html body password-input {
   display: block;
   
   white-space: nowrap;
   
   $pw-font-size: 13px;
   $pw-radius: 0.25em;
   
   .input-wrapper {
      display: inline-block;
      position: relative;
      
      input[type="text"],
      input[type="password"] {
         position: relative;
         z-index: 2;
         
         margin: 0;
         
         font-size: $pw-font-size;
         border-radius: $pw-radius 0 0 $pw-radius;
         
         font-family: monospace;
         
         &:focus {
            outline: none;
         }
      }
      
      .space-highlight {
         position: absolute;
         left: 0;
         top: 0.5em;
         z-index: 3;
         
         opacity: 0.25;
         
         min-width: 0;
         
         margin: 0;
         padding: 0;
         
         background: grey;
         font-family: monospace;
      }
   }
   
   .show-pw {
      @include button(white, $color1);
      
      $offset: 0.3em;
      
      position: relative;
      display: inline-block;
      
      left: -$offset;
      z-index: 1;
      vertical-align: middle;
      
      box-shadow: none;
      
      border: 1px solid grey;
      border-radius: 0 $pw-radius $pw-radius 0;
      
      padding: 0.5em 0.5em 0.5em $offset + 0.5em;
      
      font-size: $pw-font-size;
      
      &:active {
         box-shadow: none;
      }
      
      span {
         vertical-align: middle;
         
         margin: 0;
         padding: 0;
         
         min-width: 0;
         
         font-size: 0.75em;
         text-transform: lowercase;
      }
      
      .icon {
         vertical-align: middle;
         
         img {
            vertical-align: text-bottom;
         }
      }
      
      .see {
         opacity: 1;
      }
      
      .hide {
         position: relative;
         
         img {
            opacity: 0.5;
         }
         
         &:after {
            content: '/';
            
            position: absolute;
            display: block;
            
            opacity: 1;
            
            top: -0.25em;
            
            width: 0.8em;
            
            font-weight: bold;
            font-size: 2em;
            font-style: italic;
            color: black;
         }
      }
   }
}
