@import 'styles/mixins/all';

html body password-editor {
   display: block;
   
   & > header {
      margin: 1em 0;
      
      border-bottom: 1px solid $color1;
      
      padding: 0.25em 0.25em;
      
      //background: $color1;
      color: $color1;
      
      font-size: 1.25em;
   }
   
   ul {
      padding: 0;
      
      list-style-type: none;
   }
   
   $pw-font-size: 13px;
   $pw-radius: 0.25em;
   
   .input-wrapper {
      display: inline-block;
      position: relative;
      
      input[type="text"],
      input[type="password"] {
         position: relative;
         z-index: 2;
         
         margin: 0;
         
         font-size: $pw-font-size;
         border-radius: $pw-radius 0 0 0;
         
         font-family: monospace;
         
         &:focus {
            outline: none;
         }
      }
      
      .space-highlight {
         position: absolute;
         left: 0;
         top: 0.5em;
         z-index: 3;
         
         opacity: 0.25;
         
         min-width: 0;
         
         margin: 0;
         padding: 0;
         
         background: grey;
         font-family: monospace;
      }
   }
   
   label {
      display: inline-block;
      position: relative;
   }
   
   .strength {
      position: relative;
      top: -0.1em;
      
      margin-right: 0.25em;
      
      meter {
         $height: 0.6em;
         
         vertical-align: top;
         
         width: 100%;
         height: $height;
         
         &::-webkit-meter-bar,
         &::-webkit-meter-even-less-good-value,
         &::-webkit-meter-suboptimum-value,
         &::-webkit-meter-optimum-value {
            height: $height;
            
            border-radius: 0 0 $pw-radius $pw-radius;
            
            transition: all 0.25s;
         }
         
         &::-webkit-meter-bar {
            box-shadow: 0 0.1em 0.1em -0em rgba(0, 0, 0, 0.4) inset;
            
            background: whitesmoke; /* Required to get rid of the default background property */
         }
         
         &::-webkit-meter-even-less-good-value {
            background: linear-gradient(90deg, red 0%, orange 100%);
         }
         
         &::-webkit-meter-suboptimum-value {
            background: linear-gradient(90deg, red 0%, yellow 100%);
         }
         
         &::-webkit-meter-optimum-value {
            background: linear-gradient(180deg, green 0%, #006500 100%);
         }
      }
      
      .score-label {
         vertical-align: top;
         
         padding: 0;
         
         font-size: 0.75em;
         opacity: 0.8;
      }
      
      .tips-wrapper {
         display: inline-block;
         
         position: relative;
         vertical-align: top;
   
         font-size: 0.75em;
      }
      
      .tips {
         $bg: lightgrey;
         $arrow-size: 0.6em;
         
         @include float-panel();
         
         top: 1.2em + $arrow-size;
         left: -($arrow-size/2);
         right: auto;
         
         padding-left: 2em;
         
         overflow: visible;
         
         background: lightgrey;
         
         list-style-type: disc;
         
         li {
            white-space: nowrap;
         }
         
         &:after {
            content: "";
            position: absolute;
            top: -$arrow-size;
            left: $arrow-size;
            border-width: 0 $arrow-size $arrow-size;
            border-style: solid;
            border-color: $bg transparent;
            display: block;
            width: 0;
         }
      }
   }
   
   .show-pw {
      @include button(white, $color1);
      
      $offset: 0.3em;
      
      position: relative;
      display: inline-block;
      
      left: -$offset;
      z-index: 1;
      vertical-align: middle;
      
      box-shadow: none;
      
      border: 1px solid grey;
      border-radius: 0 $pw-radius 0 0;
      
      padding: 0.5em 0.5em 0.5em $offset + 0.5em;
      
      font-size: $pw-font-size;
      
      &:active {
         box-shadow: none;
      }
      
      span {
         margin: 0;
         padding: 0;
         
         min-width: 0;
      }
      
      .icon {
         vertical-align: middle;
         
         img {
            vertical-align: top;
         }
      }
      
      .see {
         opacity: 1;
      }
      
      .hide {
         position: relative;
         
         img {
            opacity: 0.5;
         }
         
         &:after {
            content: '/';
            
            position: absolute;
            display: block;
            
            opacity: 1;
            
            top: -0.25em;
            
            width: 0.8em;
            
            font-weight: bold;
            font-size: 2em;
            font-style: italic;
            color: black;
         }
      }
      
      span {
         vertical-align: middle;
         
         font-size: 0.75em;
         text-transform: lowercase;
      }
   }
}