@import 'styles/mixins/all';

user-editor {
   display: block;
   
   & > header {
      margin-bottom: 1em;
      
      padding: 1em 0.25em;
      
      background: $color1;
      color: $color3;
      
      font-size: 1.25em;
   }
   
   form {
      position: relative;
   }
   
   label {
      display: block;
      
      margin-bottom: 0.75em;
      
      min-width: 5em;
      
      span {
         display: inline-block;
         
         vertical-align: top;
         
         min-width: 4em;
         
         padding: 0.5em 0.5em 0.5em 0;
      }
      
      &:last-of-type {
         margin-bottom: auto;
      }
   }
   
   select {
      @include button(white, $color1);
      
      padding: 0.5em;
      
      vertical-align: baseline;
   }
   
   fieldset {
      border: 1px dotted grey;
      
      legend {
         font-style: italic;
      }
      
      label span {
         min-width: 9em;
      }
   }
   
   .personal,
   .participation {
      display: inline-block;
      
      vertical-align: top;
      
      margin: 0 0.25em 0.25em 0;
   }
   
   .personal {
      //margin: 0 auto;
      
      //.identity {
      //   padding: 0 0.75em;
      //}
      
      span {
         min-width: 5.5em;
      }
      
      .contact-info {
         label {
            margin: auto;
         }
      }
   }
   
   .participation {
      & > div {
         display: flex;
         
         flex-direction: row;
         
         & > div {
            margin-right: 3em;
            
            header {
               margin-bottom: 0.25em;
               
               font-weight: bold;
            }
            
            &:last-of-type {
               margin: auto;
            }
         }
      }
      
      .reset-clicks {
         @include button();
         
         margin-top: 1em;
      }
   }
   
   .controls {
      position: relative;
      
      text-align: right;
      
      & > a {
         @include back-link();
         
         margin: 1em;
      }
      
      .delete {
         position: absolute;
         
         left: 0;
      }
   }
   
   .delete-confirm,
   .reset-clicks-confirm {
      text-align: center;
      
      a {
         @include button();
         
         margin: 0 0.5em;
      }
   }
}